<div class="container">
<p id="notice"><%= notice %></p>

<h1>Committed Events</h1>

<table class="table">
  <thead>
    <tr>
      <th>Event</th>
      <th>Host</th>
      <th>Date</th>
      <th>Party on?</th>
    </tr>
  </thead>

  <tbody>
    <% if @invites.first %>
    <% @invites.each do |invite| %>
        <% if invite.event.threshold > invite.event.score %>
          <tr>
            <td><%= invite.event.name %></td>
            <td><%= invite.event.user.email %></td>
            <td width="20%"><%= invite.event.date %></td>
            <td>NOPE</td>
            <td><%= link_to 'Details', invite.event, class: "reverse" %></td>
          </tr>
        <% else %>
        <tr style="background-color:#ED3ABD;">
          <td><%= invite.event.name %></td>
          <td><%= invite.event.user.email %></td>
          <td><%= invite.event.date %></td>
          <td>YEP</td>
          <td><%= link_to 'Details', invite.event, class: "partyon" %></td>
        </tr>
      <% end %>
    <% end %>
    <% else %>
      <tr>
        <td>You have no outstanding invites.</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
