<div class="container">
<p id="notice"><%= notice %></p>

<h1>Committed Events</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Host</th>
      <th>Date</th>

      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% if @invites.first %>
    <% @invites.each do |invite| %>
        <% if invite.event.threshold > invite.event.score %>
          <tr>
            <td><%= invite.event.name %></td>
            <td><%= invite.event.user.email %></td>
            <td><%= invite.event.date %></td>
          </tr>
        <% else %>
        <tr style="background-color:green;">
          <td><%= invite.event.name %></td>
          <td><%= invite.event.user.email %></td>
          <td><%= invite.event.date %></td>
        </tr>
      <% end %>
    <% end %>
    <% else %>
      <tr>
        <td>You have no outstanding invites.</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
