<p id="notice"><%= notice %></p>
<div class="container">
<h1>Invites to this Party</h1>

<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Recipient</th>
      <th>Event</th>
      <th>Email</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event.invites.each do |invite| %>
      <tr>
        <td><%= User.where(id: invite.sender_id).first.email %></td>
        <td><%= User.where(id: invite.recipient_id).first.email %></td>
        <td><%= invite.event.name %></td>
        <td><%= invite.email %></td>
        <td><%= invite.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
