<div class="container">
<p id="notice"><%= notice %></p>

<h1>My Outstanding Invites</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>Event</th>

      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% if @invites.first %>
    <% @invites.each do |invite| %>
      <tr>
        <td><%= User.where(id: invite.sender_id).first.email %></td>
        <td><%= invite.event.name %></td>
        <td><%= render 'guestships/form', event: invite.event, guestship: Guestship.new %></td>
        <td><%= button_to 'Reject', event_invite_path(invite.event, invite), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% else %>
      <tr>
        <td>You have no outstanding invites.</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
