<div class="container">
<p id="notice"><%= notice %></p>

<h1>My Outstanding Invites</h1>

<table class="table">
  <thead>
    <tr>
      <th>From</th>
      <th>Event</th>

      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% if @invites.first %>
      <% @invites.each do |invite| %>
          <tr id='invite-<%=invite.id%>'>
            <td><%= User.where(id: invite.sender_id).first.email %></td>
            <td><%= invite.event.name %></td>
            <td><%= link_to "Accept", invite_accept_path(invite), method: :post, remote: true, class: "reverse" %></td>
            <td><%= link_to 'Reject', event_invite_path(invite.event, invite), method: :delete, remote:true, class: "reverse" %></td>
            <td><%= link_to 'Details', invite.event, class: "reverse" %></td>
          </tr>
    <% end %>
    <% else %>
      <tr>
        <td>You have no outstanding invites.</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
