<div class="container">
<p id="notice"><%= notice %></p>

<p>
<% if @event.score && @event.score >= @event.threshold %>
<strong>This event has met the threshold! The party is on!</strong>
<% else %>
<strong>This event has not met the threshold yet. As of now, the party is off.</strong>
<%end%>
</p>

<p>
  <strong>Host:</strong>
  <%= @event.user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

  <% if @event.score && @event.score >= @event.threshold %>
    <strong>Attending Guests:</strong>
    <% @invites.each do |invite| %>
    <%= invite.email %>
    <% end %>
  <% end %>

<%= link_to 'Back', events_path %>
</div>
