<div class="container">
<p id="notice"><%= notice %></p>

<% if @event.user != current_user %>
  <p>
  <% if @event.score && @event.score >= @event.threshold %>
  <strong>This event has met the threshold! The party is on!</strong>
  <% else %>
  <strong>This event has not met the threshold yet. As of now, the party is off.</strong>
  <%end%>
  </p>

  <p>
    <strong>Host:</strong>
    <%= @event.user.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @event.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @event.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @event.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= @event.time %>
  </p>

    <% if @event.score && @event.score >= @event.threshold %>
      <strong>Attending Guests:</strong>
      <% @accepted_invites.each do |invite| %>
      <%= invite.email %>
      <% end %>
    <% end %>

  <%= link_to 'Back', events_path %>

<% else %>
  <p>
  <% if @event.score && @event.score >= @event.threshold %>
  <strong>This event has met the threshold! The party is on!</strong>
  <% else %>
  <strong>This event has not met the threshold yet. As of now, the party is off.</strong>
  <%end%>
  </p>

  <p>
    <strong>Host:</strong>
    <%= @event.user.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @event.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @event.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @event.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= @event.time %>
  </p>
  <% if @invites.first %>
  <strong>Invited Guests:</strong>
  <table>
    <thead>
      <tr>
        <th>Guest</th>
        <th>Value</th>
        <th>Accepted?</th>
      </tr>
    </thead>
    <tbody>
    <% @invites.each do |invite| %>
    <tr>
      <td><%= invite.email %></td>
      <td><%= invite.value %></td>
      <%if invite.accepted%>
      <td>YES</td>
      <% else %>
      <td>Nope</td>
      <% end %>
    </tr>
    <% end %>
    <tbody>
  </table>
<% end %>

<p>
Invite More Guests:
<%= link_to 'Send Invites', new_event_invite_path(@event) %>
<%= link_to 'Back', events_path %>
<% end %>
</p>

</div>
