<p id="notice"><%= notice %></p>

<h1>Guestships</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guestships.each do |guestship| %>
      <tr>
        <td><%= guestship.user %></td>
        <td><%= guestship.event %></td>
        <td><%= link_to 'Show', guestship %></td>
        <td><%= link_to 'Edit', edit_guestship_path(guestship) %></td>
        <td><%= link_to 'Destroy', guestship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guestship', new_guestship_path %>
