<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @guestship.user %>
</p>

<p>
  <strong>Event:</strong>
  <%= @guestship.event %>
</p>

<%= link_to 'Edit', edit_guestship_path(@guestship) %> |
<%= link_to 'Back', guestships_path %>
